@import "bootstrap/bootstrap";

// COLORS
$grey-light: #f4f4f4;

// HERO
.hero {
	height: 500px;
}
// HOME
// NEWSLETTER
.home-newsletter {
	padding-bottom: 50px;
}
.newsletter {
	background: #fff;
	box-shadow: 0 0 20px rgba(135,165,248,0.3);
	padding: 20px;
	border-radius: 5px;
	width: 100%;
}
.news-title {
	font-size: 25px;
}
.news-desc {
	font-size: 18px;
	display: inline-block;
}
// ABOUT
.home-about {
	
}

.home-especialidades {
	padding-top: 50px;
}
// BLOG
.home-blog {
	padding-top: 50px;
}
.blog-home-card {
	margin-bottom: 30px;
}